<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-item-carrinho-heading"
        data-cy="ItemCarrinhoCreateUpdateHeading"
        jhiTranslate="lojaApp.itemCarrinho.home.createOrEditLabel"
      >
        Criar ou editar Item Carrinho
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lojaApp.itemCarrinho.quantidade" for="field_quantidade">Quantidade</label>
          <input
            type="number"
            class="form-control"
            name="quantidade"
            id="field_quantidade"
            data-cy="quantidade"
            formControlName="quantidade"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lojaApp.itemCarrinho.precoTotal" for="field_precoTotal">Preco Total</label>
          <input
            type="number"
            class="form-control"
            name="precoTotal"
            id="field_precoTotal"
            data-cy="precoTotal"
            formControlName="precoTotal"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lojaApp.itemCarrinho.carrinho" for="field_carrinho">Carrinho</label>
          <select
            class="form-control"
            id="field_carrinho"
            data-cy="carrinho"
            name="carrinho"
            formControlName="carrinho"
            [compareWith]="compareCarrinho"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="carrinhoOption" *ngFor="let carrinhoOption of carrinhosSharedCollection">{{ carrinhoOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lojaApp.itemCarrinho.produto" for="field_produto">Produto</label>
          <select
            class="form-control"
            id="field_produto"
            data-cy="produto"
            name="produto"
            formControlName="produto"
            [compareWith]="compareProduto"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="produtoOption" *ngFor="let produtoOption of produtosSharedCollection">{{ produtoOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
